<div class="main">
    <!-- G -->
    <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col-10">
            <div class="heading">
                <h1 class="texts">Testimonial</h1>
            </div>
            <!-- c -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="texts">
                        <p class="q">Muchas gracias por su increíblemente hermosa contribución a nuestra boda en Londres. Tu forma de tocar la guitarra y cantar fue fantástica. Tuvimos muchos comentarios positivos de nuestros invitados.</p>
                        <p class="a">--Cliente (boda)</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="texts">
                        <p class="q">En la capilla del Castillo de Ludlow, resonó su hermosa voz, trayendo alegría al corazón de los oyentes.</p>
                        <p class="a">--Patricia Atkinson</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="texts">
                        <p class="q">Una voz increíble y un chico encantador, lo contratamos para actuar en una fiesta sorpresa de 50 años para mi esposo, ya que es un músico muy entusiasta y amante de la música en vivo. Su actuación fue fabulosa y dejó atónitos a nuestros invitados. ¡Volveremos a reservar para nuestra fiesta de verano en el jardín!</p>
                        <p class="a">--Helen & Graham (Fiesta de cumpleaños número 50, Harrogate)</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <!-- /c -->
          </div>
          <div class="col"></div>
        </div>
    </div>
    <!-- /G -->
</div>