.main{
    margin: 2%;
}
.heading{
    margin-bottom: 3%;
}
.texts{
    color: white;
    text-align: center;
}
.text-a{
    color: white;
}
.carousel-inner{
    text-align: justify;
    background-color: #4d351f;
    opacity: 80%;
    height: 130px;
    border-radius: 18px;
}