<!-- services -->
<div class="main" style="border: 0.001px solid;">
  <div class="container">
    <div id="heading">
      <h1>Services</h1>
    </div>
    <div class="row" data-aos="fade-down">
      <div class="col"> 
        <div class="card text-white bg" style="width: 15rem;">
          <img src="./assets/images/production.jpeg" class="card-img-top" alt="">
          <div class="card-body">
            <h5>Music Production</h5>
            <!-- <p class="card-text">Produce musical scores for all kind of purposes</p> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg" style="width: 15rem;">
          <img src="./assets/images/live.jpeg" class="card-img-top" alt="">
          <div class="card-body">
            <h5>Live Perfomance</h5>
            <!-- <p class="card-text"> </p> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg" style="width: 15rem;">
          <img src="./assets/images/one-on-one.jpeg" class="card-img-top" alt="">
          <div class="card-body">
            <h5>One-on-One Classes</h5>
            <!-- <p class="card-text"> </p> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg" style="width: 15rem;">
          <img src="./assets/images/editing.jpeg" class="card-img-top" alt="">
          <div class="card-body">
            <h5>Editing</h5>
            <!-- <p class="card-text"> </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonials -->
  <app-testimonial></app-testimonial>
</div>